/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  font-family: 'Roboto', sans-serif;}

  .container{
    width: fit-content;
  }

 .letters-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  /* Add any additional styling such as padding or margin */
.letter-box {
  width: 50px; /* Assign box width */
  height: 50px; /* Assign box height */
  border: 1px solid #000; /* Add a border */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; /* Space out the boxes */
  background-color: rgb(102, 130, 241);
  color:azure;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* horizontal offset, vertical offset, blur radius, and color */
}
  /* Add any additional styling such as background-color or font properties */
